#Map .run1 {
    width: auto;
    height: 50% !important;
}

#Map {
    padding-top: 5%;
    color: #af2f30;
}

#Map h1 {
    font-size: 3rem;
}

#Map p {
    font-size: 1.2rem;
}

 .runner {
    width: 50px;
    height: auto;
    color: #af2f30;
    border-radius: 100%;
    text-align: center;
    margin: 0 5px;
}
.runner_sel {
    background: #af2f30;
    color: #fff;
}
