#Rule1{
    color:#AF2F30;
}
#Rule1 h1{
    font-size: 3rem;
}
#Rule1 p{
    font-size: 1.5rem;
}

#Rule1 .go {
    width: 50px;
    height: auto;
    background: #AF2F30;
    color: #fff;
    font-size: 1.2rem;
    margin: 15px 5px;
    border-radius: 60%;
    text-align: center;
}
#datedetail {
    margin-top: 30px;
    background: #912526;
    color:#fff;
  }