#RunnerRule h1 {
    font-size: 1rem;
}

#RunnerRule .title {
    font-size: 1.2rem;
    margin: 0 !important;
}

#RunnerRule .num {
    font-size: 3rem;
}

#RunnerRule .runner {
    text-align: center;
}

#RunnerRule .circle {
    width: 50px;
    height: auto;
    background: #AF2F30;
    color: #fff;
    font-size: 1.2rem;
    margin: 15px 5px;
    border-radius: 60%;
}