<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/bulma.min.css' %}">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>runner</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="notification">
            <h1>runner</h1>
            <form method="POST" action="{% url 'runner' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button is-primary is-outlined" type="submit" value="save">
            </form>
        </div>
    </div>

</body>

</html>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<style>
    h1 {
        font-size: 1.5rem;
    }

    * {
        font-family: 'Kanit', sans-serif;
    }

    .notification {
        color: #232323;
        text-align: center;
    }

    body {
        background: #af2f30;
        height: 100vh;
    }

    input,
    select {
        margin: 10px;
        padding: 2px;
    }

    .container {
        padding: 100px 30px;
    }
</style>